@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="tailwind-css-test">
            <span class="tailwind-css-text-bg-clip-test">
                Hello world
            </span>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
